#logo{
	height: 20px;
	margin-top: -5px;
}

.row {
	max-width: 100% !important;
}

.hub-img {
	display: block;
	height: 70%;
	 margin-left: auto;
    margin-right: auto;
}

.hub-button {
	height: 20em;

}

.hub-button .panel {
	height: 100%;
}

.goal-days {
	display: none;
}

.num-training-days, .training-intensity, #daySelect, #intensitySelect {
	width: 100% !important;
}

#daySelect, #intensitySelect {
	max-width: 90%;
}
.training-days {
	margin-left: auto !important;
	margin-right: auto !important;
}

.training-days .columns {
	float: left !important;

}
.header, .training-days div, .intensity-tools, .block  {
	text-align: center !important;
}
.training-days div .label {
	width: 100% !important;
}
.training-days .alert-box {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}
.day-num {
	font-weight: bold;
}

.alert-box.intensity.off-day {
	visibility: hidden;
}

.intensity-tools {
	font-size: 1.5em;
}

.intensity-tools .increase, .intensity-tools .decrease {
	font-size: 2em;
	padding: 0 3rem 0 3rem;
}

.block, .add-exercise .panel {
	cursor: pointer;
	font-weight: bold;
}

.block .goal {
	font-variant: small-caps;
}

.button.next .tip {
	color: #fff;
}

.block .close {
	font-size: 2em;
}

.hidden{
	visibility: hidden;
}

.done-intensity-btn, .intensity-tools, .exercise-placeholder, .add-exercise{
	display: none;
}

.button {
	  -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.capitalize {
	  text-transform: capitalize;
}

.prevDay, .nextDay {
	font-size: 2em;
	font-weight: bold;
	  -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
 .addSymbol {
 	font-weight: bold;
 }

@media only screen and (min-width: 64.063em) {
	.days .large-7-columns.columns{
		width: 14.28571% !important;
	}

	.days .large-7-columns.columns .price {
		font-size: 1.5em !important;
	}
 } /* min-width 1025px, large screens */