<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta charset="utf-8" />
    <title>Fitness Blocks</title>
    <!-- Third Party Style Sheets -->
    <link rel="stylesheet" type="text/css" href="lib/foundation/css/foundation.css">
    <link rel="stylesheet" type="text/css" href="lib/foundation/css/foundation-icons.css"/>
    <!-- Our Style Sheets -->
    <link rel="stylesheet" href="css/style.css" />
    <!-- Third Party JavaScript -->
    <script src="lib/jquery.js"></script>
    <script type="text/javascript" src="lib/underscore.js"></script>
    <script type="text/javascript" src="lib/backbone.js"></script>
    <script type="text/javascript" src="lib/foundation/js/foundation.min.js"></script>
    <script type="text/javascript" src="lib/foundation/js/vendor/modernizr.js"></script>
</head>

<body>
    <div class="off-canvas-wrap" data-offcanvas>
        <div class="inner-wrap">
            <nav class="tab-bar">
                <section class="middle tab-bar-section">
                    <h1 class="header"><a href="#"><img id="logo" alt="Brand" src="img/block.png"> Fitness Blocks</a></h1>
                </section>
                <section class="right-small">
                    <a class="right-off-canvas-toggle menu-icon" href="#"><span></span></a>
                </section>
            </nav>
            <aside class="right-off-canvas-menu">
                <ul class="off-canvas-list">
                    <li>
                        <label>Directory</label>
                    </li>
                    <li><a href="#workout/">Workout</a>
                    </li>
                    <li><a href="#metrics/">Metrics</a>
                    </li>
                    <li><a href="#goals/">Goals</a>
                    </li>
                </ul>
            </aside>
            <section class="main-section">
                <ul class="breadcrumbs">
                    <li class="home"><a class="current" href="#">Home</a>
                    </li>
                </ul>
                <div id="main"></div>
            </section>
            <a class="exit-off-canvas"></a>
        </div>
    </div>
    <!-- TEMPLATES -->
    <script type="text/template" id="home-template">
        <div class="row">
            <div class="small-12 medium-12 large-4 columns hub-button">
                <a href="#workout/">
                    <div class="panel">
                        <h2 class="header">Workout</h2>
                       
                    </div>
                </a>
            </div>
            <div class="small-12 medium-12 large-4 columns hub-button">
                <a href="#metrics/">
                    <div class="panel">
                        <h2 class="header">Metrics</h2>
                    </div>
                </a>
            </div>
            <div class="small-12  medium-12 large-4 columns hub-button">
                <a href="#goals/">
                    <div class="panel">
                        <h2 class="header">Goals</h2>
                    </div>
                </a>
            </div>
        </div>
    </script>
    <script type="text/template" id="block-collection-template">
    </script>
    <script type="text/template" id="week-collection-template"></script>
    <script type="text/template" id="day-collection-template"></script>
    <script type="text/template" id="block-template">
        <div class="small-12 medium-6 large-2 columns">
            <div class="panel block">
                <span class="success label left hidden complete">Complete</span>
                <a class="close right">&times;</a> Block
                <%=id%>
                    <div>
                        Goal: <span class="label goal"><%=goal%></span>
                    </div>
            </div>
        </div>
    </script>
    <script type="text/template" id="about-template">
        <div class="grid-container">
            <h4>Katch McArdle Formulas</h4>
            <dl>
                <dt>Lean Body Mass (LBM)</dt>
                <dd>LBM = Body Weight * Body Fat Percentage</dd>
            </dl>
            <dl>
                <dt>Basal Metabolic Rate (BMR)</dt>
                <dd>BMR = 370 + (21.6 * LBM / 2.2)</dd>
            </dl>
            <dl>
                <dt>Total Daily Energy Expenditure (TDEE)</dt>
                <dd>TDEE = BMR x TDEEC</dd>
            </dl>
            <dl>
                <dt>Total Daily Energy Expenditure Constant (TDEEC)</dt>
                <dd>TDEEC = 1.2 <i>if Hours of Exercise = 1 - 3</i></dd>
                <dd>TDEEC = 1.35 <i>if Hours of Exercise = 3 - 6</i></dd>
                <dd>TDEEC = 1.5 <i>if Hours of Exercise = >6</i></dd>
            </dl>
        </div>
    </script>
    <script type="text/template" id="dashboard-template">
        <div class="grid-container" ng-controller="DashboardCtrl">
            <div id="chart"></div>
        </div>
    </script>
    <script type="text/template" id="home-template">
        <form>
            <div class="grid-block">
                <div class="small-12 grid-content">
                    <h4>Person Info</h4>
                </div>
                <div class="small-12 medium-4 grid-content">
                    <label>Units</label>
                    <input type="radio" name="units" value="lbs" checked ng-model="units" ng-change="onUnitChanged(units)" />
                    <label for="standard">Standard (lbs)</label>
                    <input type="radio" name="units" value="kgs" ng-model="units" ng-change="onUnitChanged(units)" />
                    <label for="metric">Metric (kgs)</label>
                </div>
                <div class="small-12 medium-4 grid-content">
                    <label>Goal</label>
                    <select ng-model="goal" ng-change="onChange()">
                        <option value="cut">Cut</option>
                        <option value="gain">Gain</option>
                        <option value="maintain">Maintain</option>
                    </select>
                </div>
                <div class="small-12 medium-4 grid-content">
                    <label>Hours Exercise Per Week</label>
                    <select ng-model="hoursExercise" ng-change="onChange()">
                        <option value="low">1 to 3</option>
                        <option value="medium">4 to 6</option>
                        <option value="high">6+</option>
                    </select>
                </div>
                <div class="small-12 medium-6 grid-content">
                    <label>
                        Weight
                        <span class="inline-label">
                    <input type="text" ng-model="weight" ng-change="onChange()"/>
                    <span class="form-label unit">lbs</span>
                    </label>
                </div>
                <div class="small-12 medium-6 grid-content">
                    <label>
                        Body Fat %
                        <span class="inline-label">
                    <input type="text"  ng-model="bodyFatPercentage" ng-change="onChange()"/>
                    <span class="form-label unit">%</span>
                    </label>
                </div>
                <div class="small-12 medium-6 grid-content">
                    <label>
                        Lean Body Weight
                        <span class="inline-label">
                    <input type="text" ng-model="leanBodyWeight" disabled>
                    <span class="form-label unit">lbs</span>
                    </label>
                </div>
                <div class="small-12 medium-6 grid-content">
                    <label>
                        Total Body Fat
                        <span class="inline-label">
                    <input type="text" ng-model="totalBodyFat" disabled/>
                    <span class="form-label unit">lbs</span>
                    </label>
                </div>
                <div class="small-12 grid-content">
                    <h4>Macro/Calorie Recommendations</h4>
                </div>
                <div class="small-12 medium-6 grid-content science">
                    <h4 class="subheader">Katch McArdle</h4>
                    <div class="grid-block">
                        <div class="small-12 grid-content">
                            <label>
                                Total Calories
                                <input type="text" ng-model="tdee" disabled/>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="small-12 medium-6 grid-content broScience">
                    <h4 class="subheader">Bro Science</h4>
                    <div class="grid-block">
                        <div class="small-12  grid-content">
                            <label>
                                Total Calories
                                <input type="text" ng-model="broCalories" disabled/>
                            </label>
                        </div>
                        <div class="small-12 grid-content">
                            <label>
                                Protein
                                <span class="inline-label">
                                <input type="text" ng-model="broProtein" disabled/>
                                <span class="form-label unit">g</span>
                            </label>
                        </div>
                        <div class="small-12 grid-content">
                            <label>
                                Carbs
                                <span class="inline-label">
                                <input type="text" ng-model="broCarbs" disabled/>
                                <span class="form-label unit">g</span>
                            </label>
                        </div>
                        <div class="small-12 grid-content">
                            <label>
                                Fat
                                <span class="inline-label">
                                <input type="text" ng-model="broFat" disabled/>
                                <span class="form-label unit">g</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </script>
    <script type="text/template" id="goal-select-template">
        <h3 class="header">First, let's select your goals for each training block below.</h3>
        <h5 class="subheader header">Tip: <kbd>Click</kbd> on the block you want to set a goal for.</h5>
        <a class="button expand add">+ Add Block</a>
        <div class="blocks"></div>
        <a href="#" class="button expand">Finish</a>
        <div id="goal-modal" class="row goal-select reveal-modal" data-reveal>
            <a class="close-reveal-modal">&#215;</a>
            <br/>
            <div class="small-12 medium-6 large-3 columns">
                <ul class="pricing-table">
                    <li class="title">Goal</li>
                    <li class="price">Strength</li>
                    <li class="description">Increase the amount of weight you can lift.</li>
                    <li class="bullet-item">85% 1 RM</li>
                    <li class="bullet-item">5 Reps</li>
                    <li class="bullet-item">5 Sets</li>
                    <li class="bullet-item">2 Minute Rest</li>
                    <li class="cta-button"><a class="button goal-select-btn expand" data-goal="strength">Select</a>
                    </li>
                </ul>
            </div>
            <div class="small-12 medium-6 large-3 columns">
                <ul class="pricing-table">
                    <li class="title">Goal</li>
                    <li class="price">Power</li>
                    <li class="description">Increase the explosive power of your lifts.</li>
                    <li class="bullet-item">50-75% 1 RM</li>
                    <li class="bullet-item">3-6 Reps</li>
                    <li class="bullet-item">10 Sets</li>
                    <li class="bullet-item">1 Minute Rest</li>
                    <li class="cta-button"><a class="button goal-select-btn expand" data-goal="power">Select</a>
                    </li>
                </ul>
            </div>
            <div class="small-12 medium-6 large-3 columns">
                <ul class="pricing-table">
                    <li class="title">Goal</li>
                    <li class="price">Hypertrophy</li>
                    <li class="description">Increase your body mass.</li>
                    <li class="bullet-item">70-80% 1 RM</li>
                    <li class="bullet-item">8-12 Reps</li>
                    <li class="bullet-item">5 Sets</li>
                    <li class="bullet-item">45 Second Rest</li>
                    <li class="cta-button"><a class="button goal-select-btn expand" data-goal="hypertrophy">Select</a>
                    </li>
                </ul>
            </div>
            <div class="small-12 medium-6 large-3 columns">
                <ul class="pricing-table">
                    <li class="title">Goal</li>
                    <li class="price">Endurance</li>
                    <li class="description">Increase how long you can endure lifts.</li>
                    <li class="bullet-item">50-70% 1 RM</li>
                    <li class="bullet-item">15-25 Reps</li>
                    <li class="bullet-item">5 Sets</li>
                    <li class="bullet-item">1-2 Minute Rest for > 25 Reps | &lt; 1 Minute Rest for 10-15</li>
                    <li class="cta-button"><a class="button goal-select-btn expand" data-goal="endurance">Select</a>
                    </li>
                </ul>
            </div>
        </div>
    </script>
    <script type="text/template" id="day-template">
        <div class="small-12 medium-6 large-7-columns columns">
            <ul class="pricing-table">
                <li class="title">Day
                    <%=id%>
                </li>
                <li class="price">
                    <%=goal%>
                </li>
                <li class="bullet-item">
                    Intensity: <span class="intensity capitalize label"><%=intensity%></span>
                </li>
                <li class="description">
                    <%=one_rep_max%>
                        <br/> Reps:
                        <%=reps%>
                            <br/> Sets:
                            <%=sets%>
                                <br/> Rest:
                                <%=rest%>
                                    <br/>
                </li>
                <li class="cta-button"><a class="button select-btn expand" href="#workout/block/<%=blockId%>/week/<%=weekId%>/day/<%=id%>">Select</a>
                </li>
            </ul>
        </div>
    </script>
    <script type="text/template" id="exercise-selection-template">
        <div class="row">
            <div class="large-12 columns exercise-add-section">
                <div class="exercises large-12 columns"></div>
            </div>
        </div>
    </script>
    <script type="text/template" id="exercise-list-item-template">
        <a>
            <%=name%>
        </a>
    </script>
    <script type="text/template" id="exercise-template">
        <div class="panel callout radius">
            <ul>
                <li>
                    <%=name%>
                </li>
                <li>
                    <%=rest%>
                </li>
            </ul>
        </div>
    </script>
    <script type="text/template" id="day-workout-template">
        <div class="panel">
            <ul class="pricing-table">
                <li class="title"><a class="prevDay left">&laquo;--- </a> Day
                    <%=id%> <a class="nextDay right"> ---&raquo;</a>
                </li>
                <li class="price">
                    <%=goal%>
                </li>
                <li class="bullet-item">
                    Intensity: <span class="intensity capitalize label"><%=intensity%></span>
                </li>
                <li class="description">
                    <%=one_rep_max%>
                        <br/> Reps:
                        <%=reps%>
                            <br/> Sets:
                            <%=sets%>
                                <br/> Rest:
                                <%=rest%>
                                    <br/>
                </li>
                <li class="exercise bullet-item"></li>
                <li>
                    <input class="search" type="text" placeholder="+ Add Exercise" />
                    <div class="exercise-list"></div>
                </li>
            </ul>
        </div>
    </script>
    <script type="text/template" id="routine-template">
        <div class="blocks"></div>
    </script>
    <script type="text/template" id="week-template">
        <a class="button change-intensity-btn">Change Intesity</a>
        <a class="button done-intensity-btn">Done Editing</a>
        <div class="row intensity-tools">
            <div class="small-12 columns">
                <a class="button decrease">&laquo;</a>
                <span><%=intensity%></span>
                <a class="button increase">&raquo;</a>
            </div>
        </div>
        <h3>Week <%=id%></h3>
        <div class="days"></div>
    </script>
    <script type="text/template" id="block-display-template">
        <div class="weeks"></div>
    </script>
    <script type="text/template" id="fetch-template">
        <div class="text-center library-message">
            <p>Fetching data...</p>
        </div>
    </script>
    <script type="text/template" id="error-template">
        <div class="text-center">
            <h1>Error</h1>
            <h1 class="subheader">Sorry, but the requested page does not exist :(</h1>
        </div>
    </script>
    <!-- Models -->
    <script src="js/models/block.js"></script>
    <script src="js/models/week.js"></script>
    <script src="js/models/day.js"></script>
    <script src="js/models/exercise.js"></script>
    <script src="js/models/exerciseCollection.js"></script>
    <script src="js/models/dayCollection.js"></script>
    <script src="js/models/weekCollection.js"></script>
    <script src="js/models/blockCollection.js"></script>
    <!-- Views -->
    <script src="js/views/home.js"></script>
    <script src="js/views/goal-select.js"></script>
    <script src="js/views/blocks.js"></script>
    <script src="js/views/block.js"></script>
    <script src="js/views/blockDisplay.js"></script>
    <script src="js/views/routine.js"></script>
    <script src="js/views/week.js"></script>
    <script src="js/views/weeks.js"></script>
    <script src="js/views/day.js"></script>
    <script src="js/views/day-workout.js"></script>
    <script src="js/views/exercise.js"></script>
    <script src="js/views/exercises.js"></script>
    <script src="js/views/exerciseListItem.js"></script>
    <script src="js/views/selectedExerciseListItem.js"></script>
    <script src="js/views/fetchingData.js"></script>
    <script src="js/views/error.js"></script>
    <script src="js/views/app.js"></script>
    <!-- Application -->
    <script src="js/data.js"></script>
    <script src="js/utility.js"></script>
    <script src="js/config.js"></script>
    <script src="js/app.js"></script>
    <!-- Router -->
    <script src="js/routes/routes.js"></script>
    <script type="text/javascript">
    $(document).foundation({});
    </script>
</body>

</html>
